.note{
    color: white;
    background-color: #21283d;
    width: 20em;
    height: 10em;
    
    border-radius: 20px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5rem;

}
.header{
    
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
